@model SEProject.Models.VENDOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VENDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vendor_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
