@model IEnumerable<SEProject.Models.HAS_SKILL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKILL.SKILL_DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKILL.SKILL_DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SKILL_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SKILL_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SKILL_ID })
        </td>
    </tr>
}

</table>
